body{
    font-family: arial;
}

.menu {
    display: flex;
    list-style-type: none ;
}
.menu li {
    padding: 20px;
}

.menu ul {
    text-align: center;
}
h3{
    color: white;
    font-size: x-small;
    background-color: black;
    padding: 20px;
    text-align: center;
}

.button{
    text-align: center;
    display: flex;
    justify-content: center;

}
