*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: "Montserrat", sans-serif;
}
.menu{
    list-style: none;
    display: flex;
    justify-content: right;
    margin-right: 10%;

}
li{
    padding: 15px;
    color: white;
    margin-top: 0px;
    padding-top: 25px;
}
.navbar{
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 70px;
    background-image: url("header_img.jpg");
}
.logo{
   position: absolute; 
   padding-left: 25%;
   margin-top: 11px;
}
.title{
    text-align: center;
    margin-top: 2.4em;
    font-size: 3em;
    padding-bottom:30px ;
}
hr {
     margin-left: 48%;
    margin-right: 48%;
    color: blue;
    border-color: rgb(47, 148, 221);
    border-width: 3px;
    border-style: solid;
    border-radius: 3px;
    background-color:rgb(47, 148, 221) ;
}
.text{
    font-size: x-large;
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
    padding-top: 40px;
    line-height: 1.6;
    color: gray;
    padding-bottom:40px ;
}
.bouton{
    text-align: center;
    border: 2px rgb(47, 148, 221) solid;
    margin-right: 46%;
    margin-left: 46%;
    padding: 15px;
    font-size: small;
    border-radius: 40px;
}
.bouton:hover{
    background-color: rgb(47, 148, 221) ;
    color: white;
}
.titlepart{
    text-align: center;
    font-size: 3em;
    padding-bottom:30px ;
    margin-top: 2em;
}

.text2{
    font-size: x-large;
    text-align: center;
    margin-left: 600px;
    margin-right: 600px;
    padding-top: 40px;
    line-height: 1.6;
    color: gray;
    padding-bottom:40px ;
}
.partners{
    display: flex;
    justify-content: center;
}
.brand{
    width: 300px;
    height: 180px;
}
footer{
    background-color:rgb(47, 148, 221) ;
}
.licence{
    color: white;
    margin-left: 300px;
    padding-bottom: 70px;
    padding-top: 20px;
    font-weight: lighter;
}
.section:hover{
    border-top:3px white solid ;
    border-radius: 3px;
    padding-top: 22px;
}
