* {
    margin: 0px;
    padding: 0px;
    font-family: monospace;
}


html {

    scroll-behavior: smooth;
}

html::-webkit-scrollbar-track {
    display: none;
}

html::-webkit-scrollbar-thumb {
    background-color: rgb(27, 27, 27);
    /* color of the scroll thumb */
    border-radius: 5px;
    position: absolute;
}

html::-webkit-scrollbar {
    width: 10px;
    /* width of the entire scrollbar */
    position: absolute;
}

html {
    overflow-x: hidden;
}



/* Page accueil */

nav {
    display: flex;
    background-color: black;
    color: yellow;
    width: 100%;
    position: fixed;
}

.menu a {
    padding: 20px;
    text-decoration: none;
    color: yellow;
    font-size: larger;
}

a {
    text-decoration: none;
}

nav div a:hover {
    color: black;
    background-color: yellow;
    border-radius: 0% 0% 5px 5px;
}

.active {
    border-top: 4px yellow solid;
    padding-top: 16px;
}

.titre {
    max-height: 38px;
    margin-bottom: 10px;
    border-radius: 0% 0% 10px 0%;
    padding-bottom: 15px;
    padding-right: 20px;
    padding-left: 20px;
    text-align: left;
    padding-top: 15px;
    background-color: yellow;
    color: black;
}

#portfolio {
    font-size: 27px;
    background-color: black;
    color: yellow;
    padding-left: 5px;
    padding-right: 5px;
}

.menu {
    display: flex;
    /* flex-wrap: wrap; */
    padding-bottom: 20px;
    margin-left: 15%;
}

body {
    background-color: black;
}

/* responsive nav */

@media screen and (max-width: 425px) {
    .titre {
        height: 100%;
        font-size: 17px;
    }

    #portfolio {
        font-size: 18px;
    }

    .menu {
        display: none;
    }

}


/* annimation dev */
.dev {
    padding-top: 17em;
    text-align: center;
    font-size: 25px;
    color: yellow;
    animation-duration: 2s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 100%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

/* fin annimation dev */

/* annimation underscore */
.underscore {
    color: yellow;
    animation: clignote 1s infinite;
}

@keyframes clignote {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* fin annimation underscore */

.accroche {
    color: black;
    text-align: center;
    margin-top: 100px;
    padding: 20px;
}

.accroche:hover {
    color: rgb(124, 58, 237);
}

/* Fin Page accueil */


/* A propos */

#apropos {
    align-items: center;
    display: flex;
    background-color: rgb(20, 20, 20);
    margin-top: 400px;
    margin-right: 8%;
    border-radius: 0px 20px 20px 0px;
    border-left: none;

}

.titleapropos {
    text-align: center;
    padding-top: 40px;
    color: yellow;
}

#moi {
    font-size: 25px;
    background-color: yellow;
    color: black;
    padding-left: 5px;
    padding-right: 5px;
}

.presentation {
    color: hsl(0, 0%, 80%);
    ;
    margin-top: 60px;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    line-height: 45px;
    font-size: larger;

}

#pp {
    height: 10%;
    width: 15%;
    border-radius: 10px 10px 10px 10px;
}


/* Fin A propos */
/* responsive A propos */

@media screen and (max-width: 425px) {

    #pp {
        display: none;
    }

    #apropos {
        width: 100%;
        margin-right: 0px;
        text-align: center;
        background-color: black;
    }

    #propos1 {
        text-align: center;
        margin-right: 0px;
    }

    .presentation {
        text-align: center;
        margin: 15px;
        line-height: 30px;
        font-size: medium;
    }

    body {
        width: 100%;
    }

    .titleapropos {
        margin-bottom: 50px;
        font-size: medium;
    }

    #moi {
        font-size: 17px;
    }

}

/* Compétences */


.competences {
    margin-top: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(développeur-web1.jpeg);
    background-attachment: fixed;
    height: 100%;
}

.title {
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: black;
    text-align: center;
    margin-top: 100px;
    background-color: rgb(124, 58, 237);
    border-bottom: 2px black solid;
}

.ligne {
    margin-top: 20px;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    padding-bottom: 40px;
    padding-top: 20px;
    flex-wrap: wrap;

}

.ht {
    background-color: hsl(0, 0%, 35%);
    border-radius: 10px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    max-width: 70%;
}

.ligne h2 {
    text-align: center;
    margin-bottom: 10px;
    color: hsl(0, 0%, 70%);
}

.skill {
    background-color: rgb(124, 58, 237);
    color: white;
    padding: 0.5%;
    text-align: right;
    font-size: 15px;
    border-radius: 10px;
    color: white
}

.container {
    max-width: 95%;
    width: 600px;
    border-radius: 10px;
    background-color: hsl(0, 0%, 20%);
}


.soustitre {
    color: white;
    text-shadow: rgb(124, 58, 237) 3px 3px;
    text-align: center;
    margin-top: 100px;
    border-radius: 5px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.ligne i {
    color: rgb(124, 58, 237);
}

.ligne3 {
    margin-top: 20px;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    padding-bottom: 200px;
    padding-top: 20px;
    flex-wrap: wrap;
}

.ligne3 h2 {
    text-align: center;
    margin-bottom: 10px;
    color: hsl(0, 0%, 70%);
}

@media screen and (max-width: 1329px) {
    .ht {
        margin-top: 70px;

    }

}

/* Fin Compétences */


/* Expériences */


.experiences {
    margin-bottom: 100px;

}

#moi2 {
    font-size: 25px;
    background-color: black;
    color: yellow;
    padding-left: 5px;
    padding-right: 5px;
}

.experiences h1 {
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: black;
    text-align: center;
    margin-bottom: 100px;
    background-color: yellow;
    border-top: 2px black solid;
}

.xp0 {
    background-color: rgb(20, 20, 20);
    border-radius: 5px;
    margin-top: 2em;
    width: max-content;
    color: white;
    margin-right: auto;
    margin-left: 53%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-wrap: wrap;
}

.xp0 h3 {
    margin-bottom: 0.3em;
    color: yellow;
    font-size: 17px;
}

.xp0 h4 {
    font-size: 17px;
    margin-bottom: 0.3em;
    color: white;
}

.xp0 p {
    margin-right: 5%;
    margin-top: 10px;
    font-style: italic;
    color: hsl(0, 0%, 60%);
}


.xp1 {
    background-color: rgb(20, 20, 20);
    border-radius: 5px;
    width: max-content;
    margin-left: auto;
    margin-right: 53%;
    text-align: end;
    margin-top: 2em;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-wrap: wrap;
}

.xp1 h3 {
    margin-bottom: 0.3em;
    color: yellow;
    font-size: 17px;
}

.xp1 h4 {
    font-size: 17px;
    margin-bottom: 0.3em;
    color: white;

}

.xp1 p {
    margin-top: 10px;
    text-align: end;
    font-style: italic;
    color: hsl(0, 0%, 60%);
}

#boutoncv {
    padding-top: 10px;
    padding-bottom: 10px;
    color: hsl(0, 0%, 70%);
    text-decoration: none;
    width: 200px;
    background-color: rgb(20, 20, 20);
    margin-top: 90px;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    border: 1px hsl(0, 0%, 17%) solid;
    border-radius: 10px;
    margin-bottom: 20px;
    display: inline-block;
}

.btnCv {
    text-align: center;
}

#boutoncv:hover {
    color: yellow;
    background-color: hsl(0, 0%, 15%);
}

/*Responsive*/
@media screen and (max-width: 425px) {
    .experiences h1 {
        font-size: 13px;
        padding-top: 20px;
        padding-bottom: 20px;
        width: 100%;
        margin-bottom: 60px;
    }

    #moi2 {
        font-size: 14px;
    }

    .xp0 {
        width: 80%;
        margin: auto;
        margin-bottom: 40px;
    }

    .xp1 {
        width: 80%;
        margin: auto;
        margin-bottom: 40px;
        text-align: center;
    }

}

/* Fin Expériences */

/* Formations */



.formations {
    color: white;
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 10%)
}

.kingformations h1 {
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: black;
    text-align: center;
    margin-bottom: 100px;
    background-color: rgb(124, 58, 237);
    border-bottom: 2px hsl(0, 0%, 3%) solid;
}

.line {
    border-left: 2px rgb(124, 58, 237) solid;
    height: 700px;
    position: absolute;
    margin-right: 50%;
    margin-left: 50%;
}

.line2 {
    display: flex;
    align-items: center;
    margin-left: 52%;
    margin-top: 3em;
    margin-bottom: 3em;
}

.line2 h3 {
    font-size: 17px;
    color: rgb(124, 58, 237);
}

.line2 h4 {
    font-size: 17px;
    color: hsl(0, 0%, 80%);
}

.line2 p {
    font-style: italic;
    color: hsl(0, 0%, 60%);
}

.line1 {
    display: flex;
    align-items: center;
    justify-content: right;
    margin-right: 52%;
    margin-bottom: 1em;
    margin-top: 1em;
}

.line1 h3 {
    font-size: 17px;
    color: rgb(124, 58, 237);
}

.line1 h4 {
    font-size: 17px;
    color: hsl(0, 0%, 80%);
}

.line1 p {
    font-style: italic;
    color: hsl(0, 0%, 60%);
}


.logo1 {
    width: 100px;
    border-radius: 100%;
    border: 4px rgb(124, 58, 237) solid;
    margin-left: 60px;
}

.logo2 {
    width: 100px;
    border-radius: 100%;
    border: 4px rgb(124, 58, 237) solid;
    margin-right: 60px;
}

#boutoncvformation {
    width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: hsl(0, 0%, 70%);
    text-decoration: none;
    margin: auto;
    background-color: rgb(20, 20, 20);
    margin-top: 30px;
    margin-bottom: 40px;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    border-radius: 10px;
    flex-wrap: wrap;
    border: 1px hsl(0, 0%, 17%) solid;
}

#boutoncvformation:hover {
    color: rgb(124, 58, 237);
    background-color: hsl(0, 0%, 15%);

}

/*responsive*/
@media screen and (max-width: 425px) {
    .kingformations h1 {
        padding-bottom: 20px;
        padding-top: 20px;
        font-size: 13px;
    }

    .line2 {
        margin: 1%;
        margin-top: 100px;
    }

    .line1 {
        margin: 6%;
        margin-top: 100px;
    }

    .logo1 {
        margin-left: 20px;
    }

    .logo2 {
        margin-right: 20px;
    }
}

/* Fin Formations */

/* Contact */
.contact {
    color: white;

}


form {
    border: 1px hsl(0, 0%, 17%) solid;
    width: 55%;
    margin: auto;
    text-align: center;
    padding: 15px;
    background-color: hsl(0, 0%, 6%);
}

.username {
    margin-bottom: 20px;
}

.usermail {
    margin-bottom: 20px;
    padding-top: 30px;
    border-top: 1px hsl(0, 0%, 17%) solid;
}

.usermessage {
    margin-bottom: 20px;
    padding-bottom: 30px;
}

textarea {
    resize: none;
    border-radius: 4px;
    width: 60%;
    background-color: hsl(0, 0%, 15%);
    border: 1px hsl(0, 0%, 17%) solid;
    color: white;
}

.button {
    margin: auto;
    width: 56.6%;
    text-align: center;
    border-bottom: 1px hsl(0, 0%, 17%) solid;
    border-left: 1px hsl(0, 0%, 17%) solid;
    border-right: 1px hsl(0, 0%, 17%) solid;
    margin-bottom: 60px;
    background-color: rgb(124, 58, 237);
    height: 70px;
}

.send {
    background-color: rgb(124, 58, 237);
    color: white;
    width: 100%;
    height: 100%;
}

input {
    border-radius: 4px;
    border: 1px hsl(0, 0%, 17%) solid;
    width: 40%;
    text-align: center;
    padding: 10px;
    background-color: hsl(0, 0%, 15%);
    color: white;
}

.contact h1 {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 30px;
    text-shadow: rgb(124, 58, 237) 3px 3px;
}







/* Debut droits */

footer {
    background-color: hsl(0, 0%, 6%);
    height: 150px;
    border-top: 1px hsl(0, 0%, 17%) solid;
}

.droits {
    color: hsl(0, 0%, 50%);
    text-align: center;
    margin-top: 3%;
}

.reseaux {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.reseaux i {
    color: hsl(0, 0%, 60%);
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    font-size: 35px;
}

.reseaux i:hover {
    color: rgb(124, 58, 237);
}


/* Fin droits */

.scroll_to_top {
    font-size: 50px;
    text-align: right;
    margin-right: 40px;
    margin-bottom: 20px;
}

.scroll_to_top i {
    color: hsl(0, 0%, 6%);
    ;
    border: 2px rgb(124, 58, 237) solid;
    border-radius: 100%;
}

.scroll_to_top i:hover {
    color: rgb(124, 58, 237);
}

@media screen and (max-width: 425px) {
    .scroll_to_top {
        font-size: 20px;
        margin-right: 20px;
    }


}